.header_container{
    padding-top: 1em;
    text-align: center;
    
    
}

.header_container-details{
    display: grid;
    margin: 0 auto;
    padding: 2.4rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #9BBCC8
    ;
    width: 50%;
    justify-content: center;
    
}


.header_links{
    display: flex;
    flex-direction:row;
   
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    font-size: larger;
    
    
}

.scroll_down{
    position: absolute;
    transform: rotate(-90deg);
    left: -1.5rem;
    font-weight: 300;
    font-size: 1.3rem;
    font-weight: 1000;
    text-decoration: none;
    
}





/* ===================MEDIA QUERIES (MEDIUM DEVICES) ==========*/
@media screen and (max-width: 1024px) {
    .header_container-details{
        grid-template-columns: 1fr;
   

    
    }
 
    .header__container > div{
        width: 100%;
        /* padding: 2rem; */
        /* margin: 0 auto;
         */
    }
    .scroll_down{
        display: none;
        text-decoration: none;
    }
 

   }
   /* ===================MEDIA QUERIES (SMALL DEVICES) ==========*/
   @media screen and (max-width: 600px) {
    .header_container-details{
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        /* gap: 1rem;
        padding: 2rem 1rem; */
   
    }
 


    .scroll_down{
        display: none;
        text-decoration: none;
    }
   }
   
