
nav{
    background-color: rgba(0,0,0,0.2);
    width: max-content;
    display: block;
    position: fixed;
    z-index: 2;
    right: 1%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 2em;
    padding: 0.8em;
    backdrop-filter: blur(5px);

}

nav a {
    background: transparent;
    border-radius: 50%;
    display: flex;
    padding: 0.2rem;
    font-size: large;
    
}

nav a:hover{
    background: rgba(0,0,0,0.3);
   
}

nav a.active{
    background: white
}



