
nav{
    background-color: rgba(0,0,0,0.2);
    width: max-content;
    display: block;
    position: fixed;
    z-index: 2;
    right: 1%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 2em;
    padding: 0.8em;
    backdrop-filter: blur(5px);

}

nav a {
    background: transparent;
    border-radius: 50%;
    display: flex;
    padding: 0.2rem;
    font-size: large;
    
}

nav a:hover{
    background: rgba(0,0,0,0.3);
   
}

nav a.active{
    background: white
}


.home, .tech-stack, .projects, .contact {
    position: relative;
   
  }
  
  .home:before, .tech-stack:before, .projects:before, .contact:before  {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: #9BBCC8;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 0;
    transition: opacity 0.5s ease-in-out;
  
    position: absolute;
    z-index: 1;
    right: 0;
    top: 110%;
  }
  
  .home:hover:before, .tech-stack:hover:before, .projects:hover:before, .contact:hover:before{
    opacity: 1;
    visibility: visible;
  }




/* ===================MEDIA QUERIES (MEDIUM DEVICES) ==========*/
@media screen and (max-width: 1024px) {
  /* nav{
    ***use this if dont want nav bar showing***
    display: none;
    text-decoration: none;

} */


nav{
  background-color: rgba(0,0,0,0.2);
  width: max-content;
  display: block;
  position: fixed;
  z-index: 2;
  right: 35%;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  border-radius: 2em;
  padding: 0.8em;
  backdrop-filter: blur(5px);

}


 }
 /* ===================MEDIA QUERIES (SMALL DEVICES) ==========*/
 @media screen and (max-width: 600px) {
  /* nav{
    ***use this if dont want nav bar showing***
    display: none;
    text-decoration: none;

} */

nav{
  background-color: rgba(0,0,0,0.2);
  width: max-content;
  display: block;
  position: fixed;
  z-index: 2;
  right: 20%;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  border-radius: 2em;
  padding: 0.8em;
  backdrop-filter: blur(5px);

}
 }
 
