.projects_container{
    text-align: center;
    height: 100%;
    position: relative;
    /* margin: -1em;  adding this will cause the extra margin on the right side of screen*/
    display: grid;
    grid-template-columns: 1fr;
    
}

.project_item-link{
    margin-bottom: 3em;
    

}

.btn.proj{
    margin-right: 1rem;
}


.btn:hover{
    background-color: #365663;
    transition: all 400ms ease;

}

img{
    width: 95%;
    height: 25em;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.5s;
    
    
}

img:hover{
    transform: scale(1.04);
}

p, h3{
    margin: 3em;
    

}

p{
    text-align: left;
}

.tech{
    display: flex;
    flex-direction: column;
    color: blue;
    margin-bottom: 1.3em;
    font-weight: bold;
    margin-top: -1.5em;
    
    
}





/* ===================MEDIA QUERIES (MEDIUM DEVICES) ==========*/
@media screen and (max-width: 1024px) {
    .projects_container{
        grid-template-columns: 1fr;
        
    }

    p, h3{
        margin: 2em;
        

    }

    img{
        width: 95%
    }

    .tech{
        display: flex;
        flex-direction: column;
        color: blue;
        margin-bottom: 1.3em;
        font-weight: bold;
        margin-top: 0.5em;
        
        
    }
 

   }
   /* ===================MEDIA QUERIES (SMALL DEVICES) ==========*/
   @media screen and (max-width: 600px) {
    .projects_container{
        gap: 1rem;
        padding: 1rem 1rem;
        grid-template-columns: 1fr;
        
      
    }

    p, h3{
        margin: 1em
    }

    .tech{
        display: flex;
        flex-direction: column;
        color: blue;
        margin-bottom: 1.3em;
        font-weight: bold;
        margin-top: 1.5em;
        
        
    }

    

 

   }